.choiceness {
  margin-top: 40px;
}
.choiceness .choiceness-main {
  position: relative;
  margin-top: 20px;
  float: left;
  margin-right: 20px;
}
.choiceness .choiceness-main:nth-child(2n-1) {
  margin-right: 0px;
}
.choiceness .choiceness-main .bg {
  width: 490px;
  height: 300px;
}
.choiceness .choiceness-main .fixindicate {
  position: absolute;
  bottom: 20px;
  left: 85px;
  width: 320px;
  height: 100px;
  border-radius: 3px;
  background: #fff;
  opacity: 0.9;
  text-align: center;
}
.choiceness .choiceness-main .fixindicate img {
  margin: 0 auto;
}
.choiceness .choiceness-main .fixindicate .p1 {
  color: #000;
  font-size: 14px;
}
