.slide-main {
  background: url(../images/banner-bg.jpg) -40px 0 no-repeat;
  height: 433px;
  position: relative;
}
.slide-main .slide-bg {
  width: 1000px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 32px;
  left: 172px;
  border: 1px solid #f1f1f1;
  border-bottom: 3px solid #e9e9e9;
}
.slide-main .slide-bg .img2 {
  width: 976px;
  height: 340px;
  position: absolute;
  top: 12px;
  left: 12px;
}
